/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;
	font: inherit;
	vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.btn{
    padding: 0;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1rem;
}
.decoration{
    text-decoration: none;
}
.header{
    background-color: black;
    width: 100%;
    height: 50px;
}
.header-signin{
    display: flex;
    background-color: black;
    justify-content: flex-end;
    align-items: center;
    width: 85%;
    height: 50px;
    margin: auto;
}
.introductions{
    background-color: white;
    width: 100%;
    height: 150px;
}
.introductions-line{
    display: flex;
    /* background-color: green; */
    width: 85%;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin: auto;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 150px;
}
.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 150px;
    margin: 0 5px 0 5px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    width: 25%;
    height: 150px;
}
.introductions-line img{
    height: 70px;
    margin: 0 10px 0 5px;
}
.banner{
    background-image: url("../img/banner1.jpg");
    /* background-color: teal; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 600px;
}
.banner80{
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    /* flex-direction: column; */
    width: 80%;
    height: 600px;
    margin: auto;
}
.banner50{
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    /* flex-direction: column; */
    width: 50%;
    height: 600px;
    margin: auto;
}
.banner-txt{
    top: 259px;
    left: 50%;
    /* background-color: green; */
    /* display: flex; */
    /* justify-content: center; */
    position: absolute;
    text-align: right;
    align-items: center;
    /* flex-direction: row; */
    width: 33%;
    height: 500px;
    margin: auto;
}
.banner-txt h1{
    font-size: 75px;
    margin: 20px 0 20px 0;
}
.banner-txt h2{
    font-size: 200%;
}
.shopnow{
    color: white;
    background-color: black;
    margin: 20px 0 20px 0;
    text-decoration: none;
    border-radius: 25px;
    /* padding: 20px; */
    width: 120px;
    height: 50px; 
}
.sale100{
    display: flex;
    background-color: lightgray;
    justify-content: space-between;
    width: 100%;
    height: 800px;
    margin: auto;
}
.sale80{
    display: flex;
    background-color: lightpink;
    justify-content: space-evenly;
    width: 80%;
    height: 800px;
    margin: auto;
}
.sale1{
    background-color: lightyellow;
    display: flex;
    width: 30%;
    height: 800px;
    margin: auto;
}
.sale2{
    background-color: lightgreen;
    display: flex;
    width: 30%;
    height: 800px;
    margin: auto;
}
.sale3{
    background-color: lightgray;
    display: flex;
    width: 30%;
    height: 800px;
    margin: auto;
}
#sign-in{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: grey;
    opacity: 0;
    transition: 0.6s;
}
#sign-in:target{
    height: 100%;
    opacity: 1;
}
.close{
    position: absolute;
    right: 1.5rem;
    top: 0.5;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}